.select2-container {
	z-index: 1000000;
}
.select2-thumbnail-wrapper img {
	height: 32px;
	width: auto;
	vertical-align: middle;
}

/* @todo A spinner would be better here */
.customize-object-selector-populating {
	opacity: 0.5;
}